
* {
    margin: 0px;
    padding: 0px;
    font-family: 微软雅黑;
}

::-webkit-scrollbar{
    display: none;
}

.border{
    border: 1px solid black;
}

.xy-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.xy-top{
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
.xy-left{
    display: flex;
    /*justify-content: flex-start;*/
    align-items: center;
}