
#title {
    height: 40px;
    width: 100%;
    /*background-color: #fff8f1;*/
    display: flex;
    /*justify-content: space-between;*/
}
#title-search{
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #ededed;
}
@keyframes chargetwo {
    1%{
        width: 20px;
    }
    30%{
        width: 100px;
    }
    60%{
        width: 200px;
    }
    90%{
        width: 300px;
    }
    100%{
        width: 100%;
    }
}
.progress-bar{
    height: 2px;
    width: 0px;
    background-color: #55bb5a;
    /*opacity: 0;*/
    animation: chargetwo 1s linear;
}

