
#partition {
    height: 44px;
    width: 100%;
    /*background-color: #ffff11;*/
    display: flex;
    background-color: white;
}
.partition-style{
    flex: 1;
    height: 45px;
    display: flex;
    flex-flow: column;

}
.partition-home{
    height: 25px;
    width: 30px;
}
.partition-home-1{
    height: 10px;
    width: 40px;
    display: flex;
    font-size: 10px;
    font-weight: 500;
    color: #333333;
    text-align: center;
    line-height: 10px;
    margin-top: 2px;
}