
#title {
    height: 40px;
    width: 100%;
    background-color: #efefef;
    display: flex;
    /*justify-content: space-between;*/
    color: #515151;
}
#title-weather{
    height: 40px;
    width: 40px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
#title-weather-sun{
    height: 30px;
    width: 40px;
}
#title-weather-number{
     height: 25px;
     width: 40px;
    font-size: 12px;
 }

#title-place{
    height: 40px;
    width: 50px;
    font-size: 14px;

}
#title-search{
    height: 40px;
    flex: 1;
    display: flex;
    align-items: center;
}
#title-search-body{
    height: 30px;
    flex: 1;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-left: 2px;
    /*text-indent: px;*/
    font-size: 13px;
    background-color: #dddddd;
    overflow: hidden;
    text-overflow: ellipsis;
}
#title-search-body-search{
    height: 40px;
    width: 40px;
}
#title-search-body-font{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 限制在一个块元素显示的文本的行数 */
    -webkit-box-orient: vertical; /* 垂直排列 */
    word-break: break-all;  /* 内容自动换行 */
}
#title-add{
    height: 40px;
    width: 50px;
}